﻿@model IEnumerable<lab_7_kpz_2.Client>

@{
    ViewBag.Title = "KPZ";
}

<h2>Ice Rink Clients</h2>

<p>
    @Html.ActionLink("Create New Client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountCardId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscountCardId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscountCardId)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
